# FR - Web Scraping - Assignment - 4

In [1]:
#Let's Import required Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Let's Import selenium webdriver 
from selenium import webdriver

#Let's Import required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

#Let's Import requests
import requests

#Let's Importing regex
import re

#Let's Import support drivers
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

#Let's Import Time Out Exception
from selenium.common.exceptions import TimeoutException
from datetime import datetime

#Let's Suppress warnings for a clean notebook
import warnings
warnings.filterwarnings('ignore')

### Question - 1
Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload

In [2]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')
driver.implicitly_wait(3)

# Let's click and open the search list
search_button=driver.find_element_by_xpath("//a[@class='external text']")
search_button.click()

# Let's click the first search result 
list_search=driver.find_element_by_xpath("//ul[@class='mw-search-results']/li[1]/div/a")
list_search.click()

# Let's create an empty lists to store the scraping data
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

#Let's create a function to get the details of most viewed video on youtube
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name:
    Name.append(i.text)
artist = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist:
    Artist.append(i.text)
view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in view:
    Views.append(i.text)
date = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in date:
    Upload_Date.append(i.text)
    
# Let's create the dataframe from the scraped data
You_tube_videos=pd.DataFrame({})
You_tube_videos['Rank']=Rank[0:30]
You_tube_videos['Video Name']=Name[0:30]
You_tube_videos['Artist']=Artist[0:30]
You_tube_videos['Upload Date']=Upload_Date[0:30]
You_tube_videos['Views (Billions)']=Views[0:30]
You_tube_videos

,Rank,Video Name,Artist,Upload Date,Views (Billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.09
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.24
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.21
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.90
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.42
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.11
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.00
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.74
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.74
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.60
11,12.,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.41
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.15
17,18.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.03
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",2.99
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",2.99
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.93
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.88
25,26.,"""Hello""[51]",Adele,"October 22, 2015",2.80
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.76
28,29.,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

### Question - 2
Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('https://www.bcci.tv/')
driver.implicitly_wait(3)

# Let's navigate to the international fixtures page
international_fixture=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international_fixture.get_attribute('href'))

# Let's create an empty lists to store the scraping data
Match_title=[] 
Series=[]
Place=[] 
Date=[] 
Time=[]

# Let's create a function to get the Match details
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in title:
    Match_title.append(i.text)
series = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for i in series:
    Series.append(i.text)
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for i in place:
    Place.append(i.text)
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for i in time:
    Time.append(i.text)
    
# Let's create the dataframe from the scraped data
IF_ICC=pd.DataFrame({})
IF_ICC['Match Title']=Match_title
IF_ICC['Series']=Series
IF_ICC['Place']=Place 
IF_ICC['Date']=Date
IF_ICC['Time']=Time
IF_ICC

,Match Title,Series,Place,Date,Time
0,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",12MARCH,19:00 IST
1,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",14MARCH,19:00 IST
2,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",16MARCH,19:00 IST
3,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",18MARCH,19:00 IST
4,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",20MARCH,19:00 IST
5,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23MARCH,13:30 IST
6,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26MARCH,13:30 IST
7,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28MARCH,13:30 IST
8,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
9,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
10,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
11,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
12,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

### Question - 3

Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [4]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('https://www.guru99.com/')
driver.implicitly_wait(3)

# Let's click on the selenium exception page 
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()

# Let's click on the selenium exception tutorial link
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()


# Let's create an empty lists to store the scraping data
Name=[]
Description=[]

# Let's create a function
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in name:
    Name.append(i.text)
description = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in description:
    Description.append(i.text)
    
# Let's create the dataframe from the scraped data
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[1:]
guru99['Description']=Description[1:]
guru99

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

### Question - 4

Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [5]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('http://statisticstimes.com/')
driver.implicitly_wait(3)

# Let's click on the economy and then on India from there
Economy_India=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
driver.get(Economy_India.get_attribute('href')) 

# Let's click on the GDP of Indian states 
GDP_Indian_States=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a")
driver.get(GDP_Indian_States.get_attribute('href'))

# Let's create an empty lists to store the scraping data
Rank=[] 
State=[] 
GSDP_Year_2019_to_Year_2020=[] 
GSDP_Year_2018_to_Year_2019=[] 
Share_Year_2018_to_2019=[] 
GDP_Dollar_Billion=[]

# Let's create a function
rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)
gdsp_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for i in gdsp_19_20:
    GSDP_Year_2019_to_Year_2020.append(i.text)
gdsp_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for i in gdsp_18_19:
    GSDP_Year_2018_to_Year_2019.append(i.text)
share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    Share_Year_2018_to_2019.append(i.text)
gdp_dollar = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp_dollar:
    GDP_Dollar_Billion.append(i.text)
    
# Let's create the dataframe from the scraped data
GSDP=pd.DataFrame({})
GSDP['Rank']=Rank 
GSDP['State']=State
GSDP['GSDP (Cr INR at Current prices) Year 2018-2019']=GSDP_Year_2018_to_Year_2019 
GSDP['GSDP (Cr INR at Current prices) Year 2019-2020']=GSDP_Year_2019_to_Year_2020 
GSDP['Share Year 2018-2019']=Share_Year_2018_to_2019 
GSDP['GDP ($ Billion)']=GDP_Dollar_Billion
GSDP

,Rank,State,GSDP (Cr INR at Current prices) Year 2018-2019,GSDP (Cr INR at Current prices) Year 2019-2020,Share Year 2018-2019,GDP ($ Billion)
0,1,Maharashtra,"2,632,792",-,13.88%,398.145
1,2,Tamil Nadu,"1,630,208","1,845,853",8.59%,246.529
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.35%,239.656
3,4,Gujarat,"1,502,899",-,7.92%,227.276
4,5,Karnataka,"1,493,127","1,631,977",7.87%,225.798
5,6,West Bengal,"1,089,898","1,253,832",5.75%,164.820
6,7,Rajasthan,"942,586","1,020,989",4.97%,142.543
7,8,Andhra Pradesh,"862,957","972,782",4.55%,130.501
8,9,Telangana,"861,031","969,604",4.54%,130.210
9,10,Madhya Pradesh,"809,592","906,672",4.27%,122.431
10,11,Kerala,"781,653",-,4.12%,118.206
11,12,Delhi,"774,870","856,112",4.08%,117.180
12,13,Haryana,"734,163","831,610",3.87%,111.024
13,14,Bihar,"530,363","611,804",2.80%,80.204
14,15,Punjab,"526,376","574,760",2.77%,79.601
15,16,Odisha,"487,805","521,275",2.57%,73.768
16,17,Assam,"315,881",-,1.67%,47.769
17,18,Chhattisgarh,"304,063","329,180",1.60%,45.982
18,19,Jharkhand,"297,204","328,598",1.57%,44.945
19,20,Uttarakhand,"245,895",-,1.30%,37.186
20,21,Jammu & Kashmir,"155,956",-,0.82%,23.584
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.265
22,23,Goa,"73,170","80,449",0.39%,11.065
23,24,Tripura,"49,845","55,984",0.26%,7.538
24,25,Chandigarh,"42,114",-,0.22%,6.369
25,26,Puducherry,"34,433","38,253",0.18%,5.207
26,27,Meghalaya,"33,481","36,572",0.18%,5.063
27,28,Sikkim,"28,723","32,496",0.15%,4.344
28,29,Manipur,"27,870","31,790",0.15%,4.215
29,30,Nagaland,"27,283",-,0.14%,4.126
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.721
31,32,Mizoram,"22,287","26,503",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

### Question - 5

Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [6]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's define the url
url=('https://github.com/')
driver.get(url)


# Let's navigate to the trending option and click on it
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

# Let's create an empty lists to store scraping data
Repository_Title=[]
Repository_Description=[] 
Contributors_Count=[] 
Language_Used=[]
urls=[]

# Let's create a function
rep_title=driver.find_elements_by_xpath('//article[@class="Box-row"]/h1/a')
descriptions=driver.find_elements_by_xpath('//article[@class="Box-row"]/p')
for i in [rep_title,descriptions]:
    for j in i:
        if i ==rep_title:
            Repository_Title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==descriptions:
            Repository_Description.append(j.text)
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    div_list=driver.find_elements_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div')
    try:
        Contributors_Count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_Count.append('-')
    try:
        Language_Used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_Used.append('-')

# Let's check the length of the scrape data        
print(len(Repository_Title),len(Repository_Description),len(Contributors_Count),len(Language_Used))

25 24 25 25

In [7]:
# L3t's create the dataframe from the scraped data
Repositoriy=pd.DataFrame({})
Repositoriy['Repository Title']=Repository_Title[0:24]
Repositoriy['Repository Description']=Repository_Description[0:24]
Repositoriy['Contributors Count']=Contributors_Count[0:24]
Repositoriy['Language Used']=Language_Used[0:24]
Repositoriy

,Repository Title,Repository Description,Contributors Count,Language Used
0,dolthub / dolt,Dolt – It's Git for Data,21,"[Go, Shell, Python, Lua, C#, C]"
1,openai / CLIP,Contrastive Language-Image Pretraining,3,"[Jupyter, 99.1%, 0.9%]"
2,google / googletest,Googletest - Google Testing and Mocking Framework,316,"[C++, Python, CMake, C, Starlark, Shell, Makef..."
3,flutter / flutter,Flutter makes it easy and fast to build beauti...,815,"[Dart, Objective-C, Java, C++, Shell, CMake, O..."
4,git / git,Git Source Code Mirror - This is a publish-onl...,"1,446","[C, Shell, Perl, Tcl, Python, Makefile, Other]"
5,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.",3,[Python]
6,coolsnowwolf / lede,Lean's OpenWrt source,229,"[C, Makefile, Shell, C++, Roff, Python, Other]"
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,No,"[43, 32]"
8,gskinnerTeam / flutter-folio,"A platform adaptive Flutter app for desktop, m...",4,"[Dart, C++, CMake, Swift, HTML, Ruby, Other]"
9,connor-create / wsbtrades,D2Go is a toolkit for efficient deep learning,No,[Python]
10,facebookresearch / d2go,Exchange Server support tools and scripts,9,"[Python, Cuda, C++]"
11,microsoft / CSS-Exchange,Unit testing tips by examples in PHP,7,"[PowerShell, HTML, Lua]"
12,sarven / unit-testing-tips,A curated list of engineering blogs,-,"[3, Kamil, bueltge, Bültge, Gabriel]"
13,kilimchoi / engineering-blogs,AZ-104 Microsoft Azure Administrator,335,[Ruby]
14,MicrosoftLearning / AZ-104-MicrosoftAzureAdmin...,A Collection of application ideas which can be...,38,[PowerShell]
15,florinpop17 / app-ideas,📝 Algorithms and data structures implemented i...,No,"[68, 57]"
16,trekhleb / javascript-algorithms,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/ssr/v2ray/trojan...,139,[JavaScript]
17,freefq / free,A new type of shell,-,[翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/ssr/v2ray/troja...
18,nushell / nushell,A sustainable architecture for Ruby on Rails.,200,"[Rust, Dockerfile]"
19,Shopify / upgrow,Must-read papers on graph neural networks (GNN),8,"[Ruby, HTML, JavaScript, CSS]"
20,thunlp / GNNPapers,A fast static site generator in a single binar...,No,"[23, 12]"
21,getzola / zola,Visual Studio Code,218,"[Rust, HTML, Shell, PowerShell, Python, Docker..."
22,microsoft / vscode,优化版本的京东茅台抢购神器,"1,370","[TypeScript, JavaScript, CSS, Inno, 0.8%, 0.5%..."
23,muguruzawang / jd_maotai_seckill,Standard and Advanced Demos for learn.cantrill...,No,[Python]

### Question - 6

Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billiboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [8]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('https://www.billboard.com/')
driver.implicitly_wait(3)

# Let's navigate and click on the Top 100 Songs
driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a").click()

# Let's create an empty lists to store the scraping data
Song_Name=[]
Artist_Name=[] 
Last_Week_Rank=[] 
Peak_Rank=[]
Weeks_on_Board=[]

# Let's create a function
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    Song_Name.append(i.text)
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    Artist_Name.append(i.text)
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lastweek:
    Last_Week_Rank.append(i.text)
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    Peak_Rank.append(i.text)
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in weeks:
    Weeks_on_Board.append(i.text)
    
# Let's create the dataframe from the scraped data
TOP_100_SONGS=pd.DataFrame({})
TOP_100_SONGS['Song_name']=Song_Name
TOP_100_SONGS['Artist_name']=Artist_Name
TOP_100_SONGS['Last_week_rank']=Last_Week_Rank
TOP_100_SONGS['Peak_rank']=Peak_Rank
TOP_100_SONGS['Weeks_on_board']= Weeks_on_Board
TOP_100_SONGS

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

### Question - 7

Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [9]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('https://www.naukri.com/')
driver.implicitly_wait(3)

# Let's navigate and clciking on the recruiter option on the search pane
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

# Let's navigate to the search bar and Type Data Science in the search bar and click search
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

# Let's create an empty lists to store the scraping data
Name=[]
Designation=[] 
Company=[] 
Skills_they_hire_for=[] 
Location=[]

# Let's create a function
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)
designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills_they_hire_for.append(i.text)
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in loc:
    try:
        Location.append(i.text)
    except NoSuchElementException:        
        Location.append("---")

In [10]:
# Let's check the length of the scrape data
print(len(Name),len(Designation),len(Company),len(Skills_they_hire_for),len(Location))

50 50 50 50 48

In [11]:
# Let's create the dataframe from the scraped data
Data_Science=pd.DataFrame({})
Data_Science['Name']=Name[0:48]
Data_Science['Designation']=Designation[0:48]
Data_Science['Company']=Company[0:48]
Data_Science['Skills they Hire for']= Skills_they_hire_for[0:48]
Data_Science['Location']=Location[0:48]
Data_Science

,Name,Designation,Company,Skills they Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Noida
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Noida
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Mumbai
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore

### Question - 8

Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [12]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.implicitly_wait(3)

# Let's create an empty lists to store the scraping data
Book_Name=[] 
Author_Name=[] 
Volumes_Sold=[]
Publisher=[] 
Genre=[]

# Let's create a function
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    Book_Name.append(i.text)
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_Name.append(i.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    Volumes_Sold.append(i.text)
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    Publisher.append(i.text)
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    Genre.append(i.text)
    
# Let's create the dataframe from the scraped data
Novel=pd.DataFrame({})
Novel['Book Name']=Book_Name
Novel['Author Name']= Author_Name
Novel['Volumes Sold']=Volumes_Sold
Novel['Publisher']=Publisher
Novel['Genre']=Genre
Novel

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Question - 9

Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [13]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('https://www.imdb.com/list/ls095964455/')
driver.implicitly_wait(3)

# Let's create an empty lists to store the scraping data
Name=[]
Year_Span=[] 
Genre=[] 
Run_Time=[] 
Ratings=[] 
Votes=[]

# Let's create a function
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    Year_Span.append(i.text)
gen = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in gen:
    Genre.append(i.text)
runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in runtime:
    Run_Time.append(i.text)
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in ratings:
    Ratings.append(i.text)
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)
    
# Let's create the dataframe from the scraped data
IMDB=pd.DataFrame({})
IMDB['Name']=Name
IMDB['Year Span']= Year_Span
IMDB['Genre']=Genre
IMDB['Run Time']= Run_Time
IMDB['Ratings']=Ratings
IMDB['Votes']=Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,905"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,433"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"857,076"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,289"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,843"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,781"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,114"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,337"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,210"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"184,003"

### Question - 10

Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [14]:
# Let's activate and load the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# Let's open the URL
driver.get('https://archive.ics.uci.edu/')
driver.implicitly_wait(3)

# Let's navigate to view all dataset
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

# Let's create an empty lists to store the scraping data
Dataset_Name=[] 
Data_Type=[]
Task=[] 
Attribute_Type=[] 
No_of_Instances=[] 
No_of_Attribute=[] 
Year=[]

# Let's create a function
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Dataset_Name.append(i.text)
names = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in names:
    Dataset_Name.append(i.text)
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)
att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in att:
    Attribute_Type.append(i.text)
ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in ins:
    No_of_Instances.append(i.text)
no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in no_of_att:
    No_of_Attribute.append(i.text)
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)
datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in tsk:
    Task.append(i.text)
attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in attr:
    Attribute_Type.append(i.text)
noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in noi:
    No_of_Instances.append(i.text)
noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in noa:
    No_of_Attribute.append(i.text)
yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in yr:
    Year.append(i.text)
    
# Let's create the dataframe from the scraped data
UCI_ML=pd.DataFrame({})
UCI_ML['Dataset Name']=Dataset_Name 
UCI_ML['Data Type']=Data_Type
UCI_ML['Task']=Task
UCI_ML['Attribute Type']=Attribute_Type
UCI_ML['No of Instances']=No_of_Instances
UCI_ML['No of Attribute']= No_of_Attribute
UCI_ML['Year']=Year
UCI_ML

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
288,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
289,Productivity Prediction of Garment Employees,"Multivariate, Time-Series","Classification, Regression","Integer, Real",1197,15,2020
290,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
291,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
292,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020